<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n" />
		</Console>
		<Console name="Console1" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%d{HH:mm:ss}  - %msg%n" />
		</Console>		
		<File name="MyLog" fileName="allLOG.log">
			<PatternLayout
				pattern="%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n" />
		</File>
	</Appenders>
	<Loggers>
		<Root level="info">
			<AppenderRef ref="Console1" />
			<AppenderRef ref="MyLog" />
		</Root>
	</Loggers>
</Configuration>